<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Beast</title>
    {{!-- links for jquery and boostrap --}}

    {{!-- local css and js files --}}
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="stylesheet" href="../../public/assets/javascript/app.js">
</head>
<body>
    {{{body}}} 
</body>
</html>