@import url('https://fonts.googleapis.com/css?family=Cabin|Rakkas');

body{
    background-color: olive;
    background-image: url("/assets/images/brick_background.jpg"); 
    font-family: 'Cabin', sans-serif;
}

.jumbotron {
    background-image: url("/assets/images/burger_bgi.jpg"); 
    font-family: 'Rakkas', cursive;  
}

.main {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
    background-color: rgb(221, 221, 183);
}

.display-4 {
    color: white
}

h3 { 
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: rgb(236, 147, 13);
    border: rgb(236, 147, 13)

}

.btn-primary:hover {
    background-color: rgb(158, 98, 9);

}

.form-inline .form-control {
    width: 80%;
}

#allBurgers,
#devouredBurgers {
    text-transform: capitalize
}

/* adjust for viewing better on small screens*/
@media (max-width: 1024px) {
    .main {
        width: 95%
    }
    .col-sm-6 {
        max-width: 100%
    }
}

@media (max-width: 360px ) {
    .col-sm-5 {
        margin-left: 10px;
        
    }
    #newBurger {
        margin-left: 10px;
        margin-right: 10px;
        width: 80%
    }
}